
  .navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
  }
  
  .navbar-brand .logo-img {
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    margin-right: 15px;
    font-weight: 200;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color:#f1ffa4; /* Color dorado en hover */
  }
  
  .cart-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 1.2rem;
  }
  
  .cart-btn:hover {
    background-color: #f1ffa4;
    border-color: #f1ffa4;
    color: #000;
  }
  
  /* Estilos de la segunda parte (hero) */
  .hero-section {
    background-color: #f0e6f6; 
    text-align: center;
  }
  
  .hero-title {
    font-size: 1rem;
    font-weight: 700;
    color: #6c757d;
  }
  
  .slogan {
    font-size: 0.7rem;
    font-weight: 300;
    color: #6c757d;
  }

.navbar-main {
    background-color: #6c757d;
    padding: 5px 0;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
  }
  
  .navbar-brand .logo-img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
  }
  
  .nav-link {
    font-size: 0.8rem; 
    margin-right: 10px;
  }
  .logo-img {
    width: 100px;       
    height: 100px;      
    border-radius: 50%; 
    object-fit: cover;   
  }
  .cart-btn {
    font-size: 1rem; 
    padding: 4px 10px;
  }
  
  .hero-title {
    font-size: 2rem; /
  }
  
  .slogan {
    font-size: 1rem;
  }
  