Button{
  margin: 0.5rem;
}
.botonInicioSesion{
  background-color: #7F57D0;
  border: none;
}
.botonInicioSesion:hover{
  background-color: #6d29e3 !important;
}

.botonRegistro{
  background-color: #ed78ef;
  color:azure;
  border: none;
}
.botonRegistro:hover{
  background-color: #f839cf !important;
  color:azure;
}
.cerrar:hover{
background-color: #f8e7f9;
color: rgb(0, 0, 0) !important;
}
.cerrar {
  position: absolute;
  top: -9px;
  right: -9px;
  background: rgba(100, 98, 98, 0.2);
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
