.botonMorado{
    max-width: 10rem !important;
}

.link{
    text-decoration: none !important;
    color:inherit !important;
}
.elementos{
    display: flex;
    flex-direction: column;
    margin:0.5rem;
    gap:0.5rem;
}
