
.producto {
  background-color: #faf1f9; 
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Playfair Display', serif; 
  font-size: 1.1rem; 
}

.producto img {
  width: 300px; 
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto 15px; 
  display: block;
}

.producto-title {
  font-size: 2rem; 
  font-weight: bold;
  color: #7F57D0; 
  margin-top: 15px;
  font-family: 'Playfair Display', serif; 
}

.producto-description {
  font-size: 1.1rem; 
  color: #444; 
  margin: 10px 0;
  font-family: 'Georgia', serif; 
  font-style: italic; 
}


.producto-rating {
  display: flex;
  justify-content: center; 
  font-size: 1.4rem;
  margin-top: 10px;
}

.producto-rating .star {
  margin: 0 3px;
}

.producto-price {
  font-size: 1.4rem;
  color: #FFC107;
  margin: 10px 0;
  font-family: 'Playfair Display', serif;
}

.producto button {
  background-color: #7F57D0;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  margin-top: 15px;
  transition: background-color 0.3s;
  font-family: 'Playfair Display', serif;
}

.producto button:hover {
  background-color: #6A4C9C;
}


