/* Fondo general */
body {
  background-color: #f4e1ff; /* Lila clarito */
  background-image: radial-gradient(white 10%, transparent 10%);
  background-size: 30px 30px;
  font-family: 'Arial', sans-serif;
}

/* Contenedor principal */
.home-container {
  text-align: center;
  padding: 20px;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(135deg, #f0c5ff, #fff6f9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.titulo {
  font-size: 3rem; /* Aumenta el tamaño de la fuente */
  color: #7F57D0;
  font-weight: bold;
  font-family: 'Georgia', serif; /* Estilo más elegante */
}

.subtitulo {
  font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
  color: #555;
  margin-top: 10px;
  font-family: 'Georgia', serif; /* Estilo más elegante */
}

/* Sección Historia */
.historia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  position: relative; /* Necesario para posicionar el título sobre la imagen */
}

.historia-texto {
  max-width: 800px;
  text-align: center; /* Centra el texto dentro del cuadro */
  padding: 30px;
  background-color: #f9ebff; /* Fondo lila claro */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.historia-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  margin-top: 20px;
}

.historia-img:hover {
  transform: scale(1.05);
}

.titulo-historia {
  font-size: 2,5rem;
  font-weight: bold;
  color: #7F57D0;
  font-family: 'Georgia', serif;
}

.titulo-productos {
  font-size: 2,5rem;
  font-weight: bold;
  color: #7F57D0;
  font-family: 'Georgia', serif;
}


/* Productos en carrusel */
.productos {
  margin-top: 30px;
  padding: 20px;
}

.producto {
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
  background-color: #f9ebff; /* Fondo de los productos lila clarito */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
  width: 100%;
  max-width: 250px; /* Ancho fijo */
  height: 250px; /* Altura fija */
  object-fit: contain; /* Ajusta la imagen sin recortarla */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.producto h4 {
  font-size: 1.8rem; /* Aumenta el tamaño del nombre del producto */
  color: #7F57D0;
  font-weight: bold;
  font-family: 'Georgia', serif; /* Estilo más elegante */
}

.producto p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.producto span {
  font-size: 1.4rem; /* Aumenta el tamaño del precio */
  color: #7F57D0;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.producto:hover {
  transform: scale(1.1);
}

