.botonMorado {
    margin-left: 0rem;
    background-color: #7F57D0;
    border: none;
}

.botonMorado:hover {
    background-color: #6d29e3 !important;
}
.texto{
    display: flex;
    flex-direction: column;
}