/* Fondo general para la página de pedidos */
.pedidos-container {
    background-color: #f4e1ff;
    background-image: radial-gradient(white 10%, transparent 10%);
    background-size: 30px 30px;
    font-family: 'Arial', sans-serif;
    padding: 30px 0;
}

/* Estilo para las tarjetas de los pedidos */
.pedido-card {
    background-color: #faf1f9;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Título del pedido dentro de la tarjeta */
.pedido-card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #7F57D0;
    font-family: 'Georgia', serif;
    text-align: center;
    margin-bottom: 10px;
}

/* Subtítulos dentro de la tarjeta */
.pedido-card-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
    font-family: 'Georgia', serif;
}

/* Estilo para los botones dentro de la tarjeta de pedido */
.pedido-card-btn {
    background-color: #7F57D0;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    margin-top: 15px;
    transition: background-color 0.3s;
    font-family: 'Playfair Display', serif;
    width: auto;
    display: block;
    text-align: center;
}

/* Hover para el botón de eliminar o acción dentro de los pedidos */
.pedido-card-btn:hover {
    background-color: #6A4C9C;
}

/* Estilo para el enlace de compra si no hay pedidos */
.no-pedidos-link {
    font-size: 1.2rem;
    color: #7F57D0;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Botón de compra si no hay pedidos */
.cart-btn {
    background-color: #7F57D0;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    margin-top: 15px;
    transition: background-color 0.3s;
    font-family: 'Playfair Display', serif;
    width: auto;
    display: inline-block;
    text-align: center;
}

/* Hover para el botón de compra */
.cart-btn:hover {
    background-color: #6A4C9C;
}

/* Estilo para la fila de pedidos */
.pedido-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

/* Estilo para cada bloque de pedido */
.pedido-item-card {
    background-color: #f9ebff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%; /* Ajustar al tamaño deseado para que se alineen en 3 columnas */
    margin-bottom: 15px;
}

/* Títulos dentro de cada bloque de pedido */
.pedido-item-card h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #7F57D0;
    font-family: 'Georgia', serif;
}

/* Detalles adicionales dentro de cada bloque de pedido */
.pedido-item-card p {
    font-size: 1rem;
    color: #444;
}

