.productos {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se distribuyan en varias filas */
    justify-content: center; /* Centra los productos horizontalmente */
    gap: 1rem; /* Espaciado entre productos */
}

